<table class="table table-hover boxes-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each boxes}}
            <tr>
                <td><a href="#/box/{{id}}">{{id}}</a></td>
                <td>{{name}}</td>
                <td>{{status}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
