<table class="table table-primary">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each boxes}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{status}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
