<html>
	<head>
		{% stylesheets '@GoneFrontEndBundle/Resources/public/css/bootstrap.css'
                        '@GoneFrontEndBundle/Resources/public/css/main.css'
                        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
	</head>
    <body>
        <div class="container header-container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="jumbotron header">
                        <img src="http://placehold.it/98x56/E8117F/ffffff" alt="Example" />
                        <h2>Gone! - Challenge Project</h2>
                    </div>
                </div>
            </div>
        </div>

        <div id="main" class="container">Loading...</div>

        {% javascripts
            '@GoneFrontEndBundle/Resources/public/js/libs/jquery-min.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/snippets.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/bootstrap-min.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/underscore-min.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/handlebars.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/backbone-min.js'
            '@GoneFrontEndBundle/Resources/public/js/libs/backbone.widget.js'
            '@backbone_app' %}
                <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>